<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capstone Project - Welcome</title>
</head>
<body>
    <h1>Capstone Project</h1>
    <h2>Welcome</h2>
    <header>
        <h2>Select an option</h2>
    </header>
    <a href="/register">Register</a> | <a href="/login">Login</a>
</body>
</html>
